<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arabic</key>
	<string>ara</string>
	<key>Czech</key>
	<string>ces</string>
	<key>Danish</key>
	<string>dan</string>
	<key>German</key>
	<string>deu</string>
	<key>English</key>
	<string>eng</string>
	<key>Finnish</key>
	<string>fin</string>
	<key>French</key>
	<string>fra</string>
	<key>Dutch</key>
	<string>nld</string>
	<key>Greek</key>
	<string>ell</string>
	<key>Hebrew</key>
	<string>heb</string>
	<key>Hugarian</key>
	<string>hun</string>
	<key>Indonesian</key>
	<string>ind</string>
	<key>Italian</key>
	<string>ita</string>
	<key>Japanese</key>
	<string>jpn</string>
	<key>Korean</key>
	<string>kor</string>
	<key>Lithuanian</key>
	<string>lit</string>
	<key>Latvian</key>
	<string>lav</string>
	<key>Norwegian</key>
	<string>nor</string>
	<key>Polish</key>
	<string>pol</string>
	<key>Portuguese</key>
	<string>por</string>
	<key>Romanian</key>
	<string>ron</string>
	<key>Spanish</key>
	<string>spa</string>
	<key>Russian</key>
	<string>rus</string>
	<key>Slovak</key>
	<string>slk</string>
	<key>Slovene</key>
	<string>slv</string>
	<key>Swedish</key>
	<string>swe</string>
	<key>Thai</key>
	<string>tha</string>
	<key>Turkish</key>
	<string>tur</string>
	<key>Ukrainian</key>
	<string>ukr</string>
	<key>Vietnamese</key>
	<string>vie</string>
	<key>Simplified Chinese</key>
	<string>chi_sim</string>
	<key>Traditional Chinese</key>
	<string>chi_tra</string>
</dict>
</plist>
